#rabbitmq
RABBITMQ_USER=
RABBITMQ_PASSWORD=

#user-service
POSTGRES_USER_SERVICE_USERNAME=
POSTGRES_USER_SERVICE_PASSWORD=
POSTGRES_USER_SERVICE_DB=


#auth-service
POSTGRES_AUTH_SERVICE_USERNAME=
POSTGRES_AUTH_SERVICE_PASSWORD=
POSTGRES_AUTH_SERVICE_DB=
