# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_URL=jdbc:postgresql://localhost:5457/seu_banco

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_EXCHANGE_USER=user.exchange
RABBITMQ_QUEUE_USER_CREATED=user.created.queue
RABBITMQ_QUEUE_USER_UPDATED=user.updated.queue

# Auth
JWT_SECRET=
JWT_EXPIRATION_ACCESS=900
JWT_EXPIRATION_REFRESH=604800

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200