# Database
DB_URL=jdbc:postgresql://localhost:5456/seu_banco
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_EXCHANGE_USER=user.exchange

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200
